@model IEnumerable<SD_310_W22SD_Assignment.Models.Artist>

@{
    ViewData["Title"] = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Artists</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
